In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import misc

# 加载莱娜图像
lena = misc.face()

# 创建莱娜图像的深拷贝
acopy = lena.copy()

aview = lena.view()
plt.imshow(aview)

In [ ]:
plt.subplot(221)
plt.imshow(lena)

In [21]:
import pandas as pd
import numpy as np
arr = np.arange(5)
s = pd.Series(arr, index=['壹','贰','叁','肆','伍'], dtype='i8')
print(s)

壹    0
贰    1
叁    2
肆    3
伍    4
dtype: int64

In [24]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])
print(s[1: 4: 2])

b    2
d    4
dtype: int64

In [25]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.random(5))
s

0    0.962588
1    0.668590
2    0.983479
3    0.306169
4    0.592434
dtype: float64

In [28]:
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [29]:
s.dtype

dtype('float64')

In [30]:
s.empty

False

In [31]:
s.ndim

1

In [32]:
s.size

5

In [33]:
s.values

array([0.96258755, 0.66859028, 0.9834794 , 0.30616864, 0.59243399])

In [36]:
s1 = pd.Series(['Tom', 'Willian RIck', 'John','Alber@t', np.nan, '1234','SteveMinsu'])
print(s1)

0             Tom
1    Willian RIck
2            John
3         Alber@t
4             NaN
5            1234
6      SteveMinsu
dtype: object

In [37]:
s1.str.len()

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [43]:
data = [["张三", 18], ["Allen", 21], ["Jack", 19], ["chalet", 30]]
df = pd.DataFrame(data, columns=["name", "age"], dtype="i8")
df

     name  age
0      张三   18
1   Allen   21
2    Jack   19
3  chalet   30

In [44]:
data = {"name":["zhangsan", "lidehua", "shixiaolong"], "age":[11, 22, 33]}

df = pd.DataFrame(data)
df

          name  age
0     zhangsan   11
1      lidehua   22
2  shixiaolong   33

In [46]:
import pandas as pd
data = {
    "one": pd.Series([1, 2, 3], index=["row1", "row2", "row3"]),
    "two": pd.Series([4, 5, 6, 7], index=["row1", "row2", "row3", "row4"])
}
df = pd.DataFrame(data)
df

      one  two
row1  1.0    4
row2  2.0    5
row3  3.0    6
row4  NaN    7

In [48]:
data = {
    "one": pd.Series([1, 2, 3], index=["a", "b", "c"], dtype='i4'),
    "two": pd.Series([4, 5, 6, 7], index=["a", "b", "c", "d"], dtype='i4')
}
df = pd.DataFrame(data)
df["three"]= pd.Series([9, 10, 11], index=["a", "b", "c"], dtype='i4')
df["four"] = df["one"] + df["two"]
df

   one  two  three  four
a  1.0    4    9.0   5.0
b  2.0    5   10.0   7.0
c  3.0    6   11.0   9.0
d  NaN    7    NaN   NaN

In [1]:
import pandas as pd
import numpy as np

In [2]:
arr1 = np.random.randn(10, 3)
arr1

array([[-0.02794316, -1.00839421, -2.02649799],
       [-0.41468734, -0.53476839, -1.93132784],
       [ 0.09945759,  1.51872765, -1.87039109],
       [-0.37830618, -1.2043803 , -0.0536071 ],
       [-0.83336625, -2.3403506 ,  0.80940251],
       [-1.75623737, -0.27660422, -1.00309264],
       [ 0.20213293,  0.85586338,  0.34017271],
       [-0.6332876 , -0.37882549, -0.59677135],
       [ 0.72579603, -1.31267987, -0.07685198],
       [-0.37639253, -2.13665767,  0.5356558 ]])

In [6]:
type(arr1)

numpy.ndarray

In [10]:
date = pd.date_range(start='2024-07-02', periods = 40, freq='D')
date

DatetimeIndex(['2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05',
               '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09',
               '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-13',
               '2024-07-14', '2024-07-15', '2024-07-16', '2024-07-17',
               '2024-07-18', '2024-07-19', '2024-07-20', '2024-07-21',
               '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25',
               '2024-07-26', '2024-07-27', '2024-07-28', '2024-07-29',
               '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02',
               '2024-08-03', '2024-08-04', '2024-08-05', '2024-08-06',
               '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-10'],
              dtype='datetime64[ns]', freq='D')